langchain==0.1.0
fschat==0.2.3
accelerate
qdrant-client   # API版本需要
duckduckgo_search==2.9.5    
transformers>=4.32.0
tokenizers
unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
nltk
sentence-transformers==2.3.1
beautifulsoup4
icetk
cpm_kernels
faiss-cpu
detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6#egg=detectron2   # PDF需要
wandb==0.16.2
# 以下两个需要手动安装 尤其是langchain-serve目前在2024年4月24日pip的时候存在bug，在issues里已经存在，目前可以手动下载git并pip或者使用严格策略pip install langchain-serve --use-deprecated legacy-resolver解决
# 参考links: https://github.com/jina-ai/langchain-serve/issues/143
#langchain-serve # API版本需要
#jina    # API版本需要
# 初次之外需要手动update grpcio版本 【pip install -U grpcio
protobuf==4.25.2
langchain-community
